
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

body {
    background: #F4F9FD;
}

body * {
    text-align: right;    
}

#search {
    border-radius: 10px;
}

#search input {
    border-radius: 12px 0px 0px 12px;
    padding: 10px;
    border: none;
}

#search .btn {
    border-radius: 0px 12px 12px 0px;
    background: #ffffff;
    border: none;
}

#search input::placeholder {
    color: #90929A;
}

#user-dropdwon .dropdown-toggle{
    background: #ffffff;
    width: 260px;
    padding: 10px;
    float: left;
}

#user-dropdwon .dropdown-toggle::after{
    float: left;
    margin-top: 12px;
}

#user-dropdwon .dropdown-toggle:active, #user-dropdwon .dropdown-toggle.show {
    border: none;
}

#user-dropdwon img{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
}

#user-dropdwon .dropdown-menu {
    width: 200px;
    border: 1px solid #ebebeb;
}

.btn-warning {
    background: #ff6b43;
    color: #ffffff;
    padding: 7px 30px;
    width: 260px;
    font-size: 120%;
    float: left;
}

.btn-warning:hover {
    background: #ff7e59;
    color: #ffffff;
}

.custom-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px auto 0px;
    display: block;
}

.ag-header-cell-text {
    font-weight: bold;    
}

.ag-cell {
    line-height: 53px !important;
    font-weight: bold;
}

.btn-x {
    background: #F4F9FD;
    transform: rotate(90deg);
}

.ag-header {
    background: #ffffff !important;
}

.ag-theme-quartz, .ag-root-wrapper, .ag-root {
    background: transparent !important;
    border: none !important;
}

.ag-row-position-absolute {
    top: 20px;
}

.ag-header, .ag-row, .ag-paging-panel {
    background: #ffffff;
    border: none !important;
}

.vue-notification-wrapper {
    margin-top: 20px !important;
}

.notification-content {
    font-size: 180%;
    font-weight: bold;
    text-align: center;
}

.cursor-pointer {
    cursor: pointer !important;
}